.fondo-gris{
	background-color: #F1F2F5;

}

.pe p{
	float: left;
	font-size: 12px;
	margin-right: 4%;
	font-weight: bold;
	color: #767779;
	margin-top: 1%;
}
.logo-republica{
	padding-top: 6%;
	padding-bottom: 4%;
}
.la-republica{
	padding-top: 1%;
	padding-bottom: 1%;
}
.btn-primary{
	margin-top: 2%; 
}
.social p i{
	float: left;
	position: relative;
	padding: 2%;
	
}
.fa-facebook{
	color: #125194;
}
.fa-twitter{
	color: #27ABD3;
}
.fa-google-plus{
	color: #E32D28;
}
.fa-envelope{
	color: #FAB400;
}
.fa-rss{
	color: #F77232;
}

.titulo-domingo{
	width: 35%;
	padding-top: 1%;
	text-align: center;
	background-color: #9A0001;
	color: #FFFFFF;
	position: relative;
	margin-left: 35%;
	margin-top: -6%;
}
.domingo{
	width: 100%;
	text-align: center;
	border:solid 1px #BDBBD5;
	border-bottom: solid 2px #9B000D;
    padding: 3% 2% 0% 2%;
}

.corrupcion{

	font-size: 10px;
	border:solid 1px #9D828A;
	border-radius:17px 0px 0px 17px;
	-moz-border-radius:17px 0px 0px 16px;
	text-align: center;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 4%;
}


.menu-rojo{
	padding-left: 2%;
}

ul, li,  a {
	text-decoration: none;
	list-style: none;
	display: inline-block;	
	text-align: center;
	font-size: 8px;
	font-family: Arial;
}

nav  {
	text-decoration: none;
	list-style: none;
    display: block;
    width: 100%;
    overflow: hidden;
}

nav ul {
  
    padding: .7em;
    float: left;
    list-style: none;  
}

nav li {
    float:left;
}

nav a {
    float:left;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #C10000;
    background: #C10000;           
 }
 
nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #fac754;
    background: linear-gradient(#fac754, #f8ac00);
    text-decoration: none;
	list-style: none;
}

nav a:active {
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}
 
nav li:first-child a {
    border-left: 0;
    border-radius: 4px 0 0 4px;            
}

nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;            
}
.caja-gris {
    border-radius:7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	background-color: #DDE2E5;
}

.caja-gris  a{
    
	color: #969A9D;
	padding: 1% 2%; 
	font-size: 13px;
	float: left;
	background-color: #DDE2E5;
    text-decoration: none;
	list-style: none;
	margin-bottom: 2%;

}
.caja-gris .temas{
	background-color: #000000;
	color: #FFFFFF;
	font-family: Arial;
}
@media (max-width: 479px){
	.banner-top{ 
		display: none;

	}
	.social p {
    font-size: 9px;
	float: left;
	position: relative;
	padding: 2%;
    }
	.pe p{
		font-size: 10px;
	}

	.menu-rojo{
		display: none;
	}
	.pnp{
	display: none;
    }
	.banner-header{
		display: none;
	}
	.dscto{
		display: none;
	}
}
/*CONTACTOO!! */

.footer-fondo{
	background-color: #D6D6D6;
	padding-top: 4%;
}

.li-footer{
	display: inline-block;
	color: #828282;
	align-items: center;
	align-content: center;
}

.lista-footer{
	font-family: 'Open Sans', sans-serif;
	font-size:12px;	
}

.lineaa{
	margin-bottom: 2%;
}

.border-footer{
	margin-top: -3%;
padding-top: 15px;
	border-top: 1px solid #828282;
	padding-bottom:12px;
	width: 100%;

}

.contenedor-grupo-larepublica{
font-family: 'Open Sans', sans-serif;
}

.p-uno{
	    margin: 1px;
    font-size: 14px;
    font-weight: lighter;
}

.p-dos{
	  font-size: 12px;
    margin-top: 10px;
}

.titulo-footer{
    font-size: 18px;
}

.linea-abajo{
	border-right: 2px black;
	height: 370px;
}

.uno-lista{

/*	margin-right: 0.1%;*/
	    border-right: 1px solid #828282;
}

/* footer black */
.black {
	background-color: black;
	visibility:hidden;
	display:none;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer-mobile {
	color:white;
	font-family: 'Open Sans';
} 

@media (max-width : 479px) {


	.black {
		
		visibility:visible;
		display: block;
	}
}

